.ast_pagination {
  display: inline-block;
  width: 100%;
  padding-top: 2em;
  text-align: center;
}

.current {
  color: #fff;
  border-color: #046bd2;
  background-color: #046bd2;
}

.page_numbers {
  display: inline-block;
  width: 2.33333em;
  height: 2.33333em;
  font-size: 16px;
  font-size: 1.06666rem;
  line-height: calc(2.33333em - 3px);
  font-weight: 500;

}